.activities-nav a {
    position: relative;
    padding: 0 15px;
    font-size: 13px;
}

.activities-nav>a.active {
    color: #007fff;
}

.activities-nav a:not(:last-child)::after {
    position: absolute;
    top: 1px;
    right: 1px;
    display: inline-block;
    content: "";
    width: 1px;
    height: 16px;
    background-color: #ebebeb;
}

/* .activities-nav {
    padding: 10px 20px;
}

.activities-nav .content {
    margin-top: 20px;
    margin-left: 10px;
    color: blue;
} */